@import "../../styles/constants";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__bold {
    font-weight: bold;
  }

  &__disabled {
    opacity: 0.5;
    &:hover {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__color {
    &_accent {
      background: $secondary;
      color: $tertiary;
    }

    &_gray {
      background: $gray;
      color: $tertiary;
    }

    &_grayRound {
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $gray-dark2;
    }

    &_white {
      color: $gray;
      border: 2px solid $gray;
      background: $tertiary;
    }

    &_whiteRound {
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $tertiary;
    }

    &_transparent {
      color: $gray-light3;
      border: 1px solid $gray-light3;
      background-color: transparent;
    }
  }

  &__size {
    &_sm {
      height: 32px;
      font-size: 14px;
      .icon {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &_smRound {
      width: 20px;
      height: 20px;
      padding: 10px;

      .icon {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &_md {
      height: 40px;
      font-size: 16px;
    }

    &_mdRound {
      width: 40px;
      height: 40px;
      padding: 10px;

      .icon {
        max-width: 35px;
        max-height: 35px;
      }
    }

    &_lg {
      height: 48px;
      font-size: 16px;
    }

    &_lgRound {
      width: 60px;
      height: 60px;
      padding: 10px;

      .icon {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
}
