//COLORS

//PRIMARY
$gray-dark: #292f36;
$gray-dark2: #3a454d;
$gray-dark3: #747474;
$gray: #8d8f92;
$gray2: #c5c5c5;
$gray-light: #e4e3e3;
$gray-light2: #ececec;
$gray-light3: #f5f5f5;
$gray-light4: #fafafa;

//SECONDARY
$secondary: #00946f;

//TERTIARY

$tertiary: #ffffff;

//error
$error: #ff0000;

//BREACKPOINTS
$breakpoint-lg: "1100px";
$breakpoint-md: "991px";
$breakpoint-sm: "767px";
$breakpoint-xs: "480px";
